@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  /* height: 100%; */
}

.outerContainer {
  width: 400px;
  height: 450px; /* 600px is the max height for chrome extensions */
  margin: 10px 20px;
  align-content: flex-start;
  text-align: left;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  margin: 10px 0;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  margin: 10px 0;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
}

.flexColumn {
  display: flex;
  justify-content: space-between;
}

.singleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}